body{
    font-family: arial, sans-serif; 
    margin: 0; 
    padding: 20px; 
    min-height: 100vh; 
    background: linear-gradient(to bottom, #dc4989,#dc49bd, #e680f4);
}
header, footer, nav, main, article, aside, section {
      border: 1px solid #ff6d6d;
      margin: 10px 0;
      padding: 10px;
      border-radius: 8px;
      background-color: rgb(239, 200, 243);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav a {
      margin-right: 15px;
    }

    figure {
      margin: 0;
    }

    video {
      max-width: 100%;
      height: auto;
    }

    /* Texto con degradado */
    .gradient-text {
      background: linear-gradient(to right, #9ecfff, #78bcff, #3e9fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2em;
      font-weight: bold;
    }